# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# FastAPI / Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# macOS
.DS_Store
